# =============================================================
# Variables d'environnement pour docker-compose du Monolithe
# Copier ce fichier en .env et adapter les valeurs
# =============================================================

# --- MySQL ---
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=audit_monolith_db
MYSQL_USER=klaye
MYSQL_PASSWORD=klaye2026

# --- Application ---
JWT_SECRET=bXlTdXBlclNlY3JldEtleUZvckpXVEF1dGhlbnRpY2F0aW9uU2VydmljZTIwMjZLbGF5ZQ==
JWT_EXPIRATION=3600000

# --- Ports ---
APP_PORT=8090
MYSQL_PORT=3310
